twitter:
  consumerKey:
  consumerSecret:
  accessToken:
  accessSecret:

  maxStreamRestartRetries: 5
  pollIntervalMins: 5
  stalkerTimeoutMins: 15

  expandIgnoreRegexes:
    # Don't ever display these URLs, stop redirecting and use the previous useful link instead
    - 'http[s]?://(?:w{3}\.)?instagram\.com/accounts/login'

google:
  apiKey:

instagram:
  postUrlFormat: http://instagram.com/p/%s

twitch:
  clientID:
  clientSecret:

qnap:
  isEnabled: true
  url:
  username:
  password:
  downloadBasePath:

discord:
  token:
  prefix: "!!"
  adminID:
  cogs:
    admin:
      isAdminOnly: true
      commands:
        - servers
        - restart
      channelIDs:
        - 611545994890313738
    twitter:
      commands:
        - embed
        - photos
        - video
        - quoted
    tweetstalk:
      isAdminOnly: true
      commands:
        - stalk
        - unstalk
        - stalks
        - color
    download:
      commands:
        - streamlink
  handlers:
    youtubeLiveStream:
      regexes:
        - '(?:http[s]?://)(?:w{3}\.)?youtube\.com/watch\?v=([A-Za-z0-9_\-]+)'
        - '(?:http[s]?://)?(?:w{3}\.)?youtu\.be/([A-Za-z0-9_\-]+)'
    instagramPost:
      regexes:
        - 'http[s]?://(?:w{3}\.)?instagram\.com/p/([A-Za-z0-9\-_]*)/?(?:\?[^ \r\n]*)?'
        - 'http[s]?://(?:w{3}\.)?instagram\.com/reel/([A-Za-z0-9\-_]*)/?(?:\?[^ \r\n]*)?'
    twitchLiveStream:
      regexes:
        - http[s]?://(?:w{3}\.)?twitch.tv/([A-Za-z0-9_]*)
  filterRegexes:
    - '<.*>'                                # Surpressed
    - '\|\|[^\|]+\|\|'                      # Spoilers
    - '@(everyone|here|[!&]?[0-9]{17,21})'  # Mentions

redis:
  host: "127.0.0.1"
  port: 6379
  password: ""
  db: 0

logger:
  level: info
  encoding: console
  outputPaths:
    - stdout
  errOutputPaths:
    - stderr
